<html>
<body>
   <div>
        <h3>何件表示する？</h2>
        <form method="post" action="/show">
            <label for="show_limit"></label>
            <input type="text" id="show_limit" name="show_limit" size="10"></input><br>
            <button type="submit">表示</button>
        </form>
    </div>
</body>
</html>